<!DOCTYPE html>
<html>
<head>
    <title>Our Services</title>
    <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <div class="container">
        <h1>Our Services</h1>
        <p>Below are the services we offer:</p>
        <ul>
            <li>1. Cloud services
                Cloud services provide many ways for business team members to interact with the technology they need. The cloud is an internet-connected platform that can store and access information and programs. Since the cloud stores the information instead of holding it on a computer, team members can access and use it whether at home or in the office. Some cloud services can even run operation systems remotely, allowing team members to use internal business programs remotely without installing them on their computers.</li>


            <li>Network security
                Network security services help protect a business' network from unauthorized access. IT services can create and issue access authorization to those who need it. They also provide many other services to protect your network, including:
                
                Building firewalls
                Installing anti-virus software
                Installing virtual private networks (VPNs)
                Performing regular network checkups</li>

                
            <li>Software development
                IT services can often include software development processes to create custom applications that fulfill specific business needs. For example, a startup business may rely on its IT service team to create a software application for organizing and maintaining venture capitalist records. In these cases, IT can provide the services you need to develop personalized software and ensure the program's viability through continuous testing, development and maintenance.</li>
            </ul>
        </div>
</body>
</html>
